@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui";

:root {
  --background: #1c1c21;
  --foreground: #FAFAFA;
}


h1, h2, h3 {
  font-family: var(--font-bebas);
  letter-spacing: 0.5px;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c21;
    --foreground: #FAFAFA;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
