@import "tailwindcss";
@plugin "daisyui";

/* =====================
   Root variables
   ===================== */
:root {
  --background: #1C1C21;
  --foreground: #FAFAFA;
}

/* =====================
   Base styles 
   ===================== */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bebas);
  letter-spacing: 0.5px;
}


/* =====================
   PREVENTS INPUT FROM TURNING WHIT ON AUTOFILL
   ===================== */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #1C1C21 inset;
  /* bg-kiloblack */
  -webkit-text-fill-color: #E5E7EB;
  /* text-kilotextlight */
  transition: background-color 9999s ease-in-out 0s;
}

/* =====================
   Tailwind color mapping 
   ===================== */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-kilored: #E14747;
  --color-kiloblack: #1C1C21;
  --color-kilodarkgrey: #26262B;


  --color-kilotextlight: #E5E7EB;
  --color-kilotextgrey: #A0A0A7;
}

/* =====================
   Dark mode override (same as before)
   ===================== */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c21;
    --foreground: #FAFAFA;
  }
}